:root {
  --color-primary: rgb(255, 255, 0);
  --color-secondary: rgb(192, 192, 192);
  --color-dark-background: rgb(0, 0, 51);
  --color-light-background: rgb(224, 224, 224);
  --color-highlight: rgb(0, 255, 255);
  --color-notification: rgb(75, 0, 130);
  --color-interactive: rgb(255, 0, 255);
  --color-critical: rgb(255, 0, 0);

  font-family: "OCR A Std", "Courier New", monospace;
}

@font-face {
  font-family: 'Square Sans Serif 7';
  src: url('../fonts/square_sans_serif_7.ttf') format('truetype');
}

body {
  background-color: var(--color-dark-background);
}

.logo {
  color: var(--color-interactive);
  font-family: 'Square Sans Serif 7', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px white;
  text-shadow: 2px 2px 4px var(--color-highlight);
  font-size: 60px;
  font-weight: 500;
  text-decoration: none;
}

.logo:hover {
  color: var(--color-highlight);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}
