<footer class="footer">
    <div class="footer-content">
        <div class="footer-sections">
        <div class="contact-section">
                <h3>Get in Touch!</h3>
                <div class="contact">
                    <div class="contact-links">
                        <a class="contact-link" href="mailto:nabutech@proton.me">nabutech@proton.me</a>
                    </div>
                    <div class="footer-icons">
                        <a class="icon" href="https://twitter.com/nabu_tech">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="icon" href="https://www.linkedin.com/in/sammyjohnrawlinson/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a class="icon" href="https://github.com/NabuTech">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="about-section">
                <div class="logo-container">
                    <span class="logo" alt="logo">NabuTech</span>
                </div>
                <h3>NabuTech: Crafting Exceptional Digital Experiences.We create
                     exceptional digital experiences. Whether you're an employer,
                      a tech enthusiast, or seeking software solutions, NabuTech 
                      is here to support you. Join us on this exciting tech 
                      adventure!</h3>
            </div>
        </div>
        <div class="footer-links">
            <p>&copy; 2023 NabuTech. All rights reserved.</p>
            <p><a href="/policy">Policy</a></p>
        </div>
    </div>
</footer>