$color-primary: rgb(255, 255, 0);
$color-secondary: rgb(192, 192, 192);
$color-dark-background: rgb(0, 0, 51);
$color-light-background: rgb(224, 224, 224);
$color-highlight: rgb(0, 255, 255);
$color-notification: rgb(75, 0, 130);
$color-interactive: rgb(255, 0, 255);
$color-critical: rgb(255, 0, 0);

$font-family-main: "OCR A Std", "Courier New", monospace;
$font-family-logo: 'Square Sans Serif 7', sans-serif;
